img{
    width: 80px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    align-items: flex-start;
}

#clickHistory{
    display: flex;
    cursor: pointer;
    text-align: center;
    padding: 3px;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    background-color: lightgrey;
    border-color: darkgrey;
    flex-direction: column;
    margin-bottom:10px;
}

#clickHistory:hover{
    transition: 0.3s;
    background-color:rgb(128, 128, 128)
}

.pinkclass{
    background-color: #8585d8;
}

#forecast{
    position: relative;
    left: 25px;
}

#forecastFiveDay{
    margin: 10px;
    background-color: darkslateblue;
    color: white;
    padding: 12px;
    border-radius: 10px;
}

#forecastFiveDay img{
    width: 40px;
}



.UVTrash{
    background-color: red;
    border-radius: 5px;
    padding: 4px;
}

.UVNormal{
    background-color: lightgrey;
    border-radius: 5px;
    padding: 4px;
}

.UVGood{
    background-color: green;
    border-radius: 5px;
    padding: 4px;
}

@media screen and (max-width: 990px) {
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}